# Ignore all env files
.env

# Ignore node modules
node_modules/

# Ignore build folders
dist/
build/

# Ignore python cache
__pycache__/

# Ignore medical knowledge base files
medical_knowledge.json
medical_knowledge*

# Ignore database
rag_model/database.txt
